/* Add the decaration on top */
@font-face { 
    font-family: 'AGaramondPro-Regular';
    src: url('../fonts/AGaramondPro-Regular.eot'); /* IE9 Compat Modes */
    src: 
       url('../fonts/AGaramondPro-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/AGaramondPro-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/AGaramondPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.gara-proreg{
    font-family: 'AGaramondPro-Regular' !important;
}
.font-12{
    font-size: 1.3em !important;
}
.text-gray{
    color: #707173 !important;
}
.bg-gray{
    background: #707173 !important;
}
.text-green{
    color: #40ADA7 !important;
}
.bg-green{
    background: #40ADA7 !important;
}
.shadow_{
    box-shadow:0 .5rem 1rem #40ADA7 !important;
}
.border-gray{
    border-color: #707173 !important;
}
::-webkit-scrollbar{ width:5px; height:5px; border-radius:10px}
::-webkit-scrollbar-track{ box-shadow:inset 0 0 1px #d5d7da; border-radius:10px}
::-webkit-scrollbar-thumb{background:#d5d7da;border-radius:10px}
::-webkit-scrollbar-thumb:hover{background:#d5d7da}
.text-pointer{
    cursor: pointer;
}
.no-transform{
    text-decoration: none;
}
.no-transform-imp{
    text-decoration: none !important;
}
.hover-cursor{
    cursor: default;
}

.ellipis-3{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* number of lines to show */
}
.ellipis-2{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
}
.ellipis-4{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; /* number of lines to show */
}
.container{
    max-width: 1400px !important;
}