*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.text-gray{
    color: #707173 !important;
}
.bg-gray{
    background: #707173 !important;
}
.text-green{
    color: #40ADA7 !important;
}
.bg-green{
    background: #40ADA7 !important;
}
.shadow_{
    box-shadow:0 .5rem 1rem #40ADA7 !important;
}
.border-gray{
    border-color: #707173 !important;
}