*{
    font-family: 'Poppins' !important;
}
.text-gray{
    color: #707173 !important;
}
.bg-gray{
    background: #707173 !important;
}
.text-green{
    color: #40ADA7 !important;
}
.bg-green{
    background: #40ADA7 !important;
}