{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row py-3">
        <div class="col-12 col-md-5 py-3 order-1">
            <h3 class="animated flipInX font-weight-light">Contact Us</h3>
            <h4 class="mt-3 animated flipInX">Department of Human Centered Design</h4>
            <div class="d-flex flex-row bd-highlight">
                <div class="mt-3 bd-highlight"><h6 >Indraprastha Institute of Information Technology, Delhi</h6></div>
            </div>
            <div class="d-flex flex-row bd-highlight">
                <div class="py-1 bd-highlight"><h6 >Okhla Industrial Estate, Phase 3</h6></div>
            </div>
            <div class="d-flex flex-row bd-highlight">
                <div class="py-1 bd-highlight"><h6 >(Near Govind Puri Metro Station)</h6></div>
            </div>
            <div class="d-flex flex-row bd-highlight">
                <div class="py-1 bd-highlight"><h6 >New Delhi, India - 110020</h6></div>
            </div>
            <div class="d-flex flex-row bd-highlight">
                <div class="py-1 bd-highlight"><h6 >Room No: A-401, 4th Floor, Research & Development Building</h6></div>
            </div>
            <div class="d-flex flex-row bd-highlight">
                <div class="py-3 bd-highlight">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20 22.621l-3.521-6.795c-.008.004-1.974.97-2.064 1.011-2.24 1.086-6.799-7.82-4.609-8.994l2.083-1.026-3.493-6.817-2.106 1.039c-7.202 3.755 4.233 25.982 11.6 22.615.121-.055 2.102-1.029 2.11-1.033z"/></svg>
                    <a class="text-dark" href="tel:+91-11-26907588">+91-11-26907588</a>
                </div>
            </div>
            <div class="d-flex flex-row bd-highlight py-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 12.713l-11.985-9.713h23.97l-11.985 9.713zm0 2.574l-12-9.725v15.438h24v-15.438l-12 9.725z"/></svg>
                &nbsp;&nbsp;<a class="text-dark" href="mailto:jyoti@iiitd.ac.in">jyoti@iiitd.ac.in</a>,&nbsp;<a class="text-dark" href="mailto:admin-hcd@iiitd.ac.in">admin-hcd@iiitd.ac.in</a>
            </div>
            <div class="d-flex flex-row bd-highlight mt-3 text-dark font-weight-bold">
                Contact Person: Ms Jyoti Singh (JM-HCD)
            </div>
        </div>
        <div class="col-12 col-md-7 order-2 py-3 py-md-0">
            <div class="h-100 d-flex align-items-center justify-content-center">
                <iframe allowfullscreen="" frameborder="0" class="h-100 w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3504.748076511186!2d77.27101231454759!3d28.547290982451514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce3e564daac1d%3A0x2c582e340e7bc556!2sIIIT-Delhi!5e0!3m2!1sen!2sus!4v1490258428889"></iframe>
            </div> 
        </div>
    </div>
  </div>

{% endblock %}