{% extends "base.html" %}
{% block meta %}
    <title>{{pageTitle}}</title>
    <meta name="title" property="title" content="{{pageTitle}}" />
    <meta name="og:title" property="og:title" content="{{pageTitle}}" />
    <meta name="twitter:title" property="twitter:title" content="{{pageTitle}}" />
    <meta name="description" property="description" content="{{pageDescr}}" />
    <meta name="og:description" property="og:description" content="{{pageDescr}}" />
    <meta name="twitter:description" property="twitter:description" content="{{pageDescr}}" />
    <meta name="og:url" property="og:url" content="https://hcd.iiitd.ac.in/{{slug}}" />
    <meta name="twitter:url" property="twitter:url" content="https://hcd.iiitd.ac.in/{{slug}}" />
{% endblock %}
{% block content %}
<div class="container py-5 bg-white">
    <div class="d-flex flex-row">
        <h4 class="ml-md-2 mt-4 animated fadeIn font-weight-bold">Events</h4>
    </div>
    <div class="mt-4 ml-md-2">
        <div class="card-columns">
            {% for option in eventsJS %}
                <div onclick="window.location.href='/events/{{option}}'" class="card text-pointer">
                    <img src="" class="card-img-top" data-src="{{eventsJS.get(option)['Image']}}" alt="{{option}}">
                    <div class="card-body">
                        <h5 class="ml-2 mt-3 text-gray">{{option}}</h5>
                        <p class="ml-2 mt-3 text-gray ellipis-3">{{eventsJS.get(option)['Content']}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function(){
        $('.event').each(function(){
            $(this).attr('src', $(this).attr('data-src'));
        });
        $('.card-img-top').each(function(){
            $(this).attr('src', $(this).attr('data-src'));
        });
    });
</script>
{% endblock %}