<div style="background: #000000">
    <div class="container py-3 pt-4 text-white">
        <div class="row">
            <div class="col-12">
                <a href="/">
                    <img src="../static/images/logo-white.svg" style="width: 100px;" alt="Human Centered Design">
                </a>
                <hr style="color: white; background: white;">
            </div>
            <div class="col-12 col-md-3">
                <h5 class="mb-1 heading">Links</h5>
                <ul class="m-0 p-0" style="list-style-type: none;">
                    <li><a class="text-center text-white small" href="index.html">International Affairs</a></li>
                    <li><a class="text-center text-white small" target="_blank" href="https://www.iiitd.ac.in/internal-links">Internal Links</a></li>
                    <li><a class="text-center text-white small" href="https://iiitd.ac.in/">IIIT-Delhi</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-3">
                <h5 class="mb-1 mt-3 mt-md-0 heading">Follow Us</h5>
                <ul class="p-0 d-flex align-items-end flex-column  mt-2 mb-0" style="list-style: none;">
                    <li class="w-100">
                        <a href="https://twitter.com/hcdiiitd" class="text-decoration-none" target="_blank">
                            <img src="../static/images/twitter_svg.svg" height="40">
                        </a>
                        <a href="https://www.facebook.com/hcdzine" class="text-decoration-none" target="_blank">
                            <img src="../static/images/facebook_hcd.svg" height="40">
                        </a>
                        <a href="https://www.linkedin.com/in/human-centered-design-hcd-43b3a7180/" class="text-decoration-none" target="_blank">
                            <img src="../static/images/linkedin_hcd.svg" height="40">
                        </a>
                    </li>
                </ul>      
            </div> 
            <div class="col-12 col-md-3">
                <h5 class="mb-1 mt-3 mt-md-0 heading">Contacts</h5>
                <ul class="p-0 mb-0 list-unstyled">
                    <li>
                        <svg width="10" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="#ffffff" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z" class=""></path></svg> &nbsp;
                        <a href="https://www.google.com/maps?ll=28.545628,77.273151&z=15&t=m&hl=en-US&gl=US&mapclient=embed&cid=3195354736735536470" class="text-white">Google Maps</a></li>
                    <li>
                        <svg style="fill: white" xmlns="http://www.w3.org/2000/svg" width="10" viewBox="0 0 24 24"><path d="M12 12.713l-11.985-9.713h23.97l-11.985 9.713zm0 2.574l-12-9.725v15.438h24v-15.438l-12 9.725z"/></svg>
                        &nbsp;
                        <a href="mailto:admin-hcd@iiitd.ac.in" class="text-white">admin-hcd@iiitd.ac.in</a></li>
                    <li>
                        <svg style="fill: white" xmlns="http://www.w3.org/2000/svg" width="14" viewBox="0 0 24 24"><path d="M20 22.621l-3.521-6.795c-.008.004-1.974.97-2.064 1.011-2.24 1.086-6.799-7.82-4.609-8.994l2.083-1.026-3.493-6.817-2.106 1.039c-7.202 3.755 4.233 25.982 11.6 22.615.121-.055 2.102-1.029 2.11-1.033z"/></svg>
                        <a href="tel:+91-11-26907588" class="text-white">+91-11-26907588</a></li>
                </ul>
            </div> 
            <div class="col-12 col-md-3">
                    <ul class="list-unstyled mt-3 mt-md-0">
                        <li class="h5 text-left text-white medium">
                            Design and Development By
                        </li>
                        <li>
                            <a class="text-center text-white medium" target="_blank" href="https://www.linkedin.com/in/avisionx/">Manavjeet Singh</a>
                        </li>
                        <li>
                            <a class="text-center text-white medium" target="_blank" href="https://www.linkedin.com/in/digitalplayer1125/">Rishi Raj Jain</a>
                        </li>
                    </ul>
            </div>    
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <p class="small text-white">Copyright © 2020 | All Rights Reserved</p>
            </div>
        </div>
    </div>
</div>