<div class="py-5" style="background: black;">
    <div class="container-fluid">
        <div class="row ml-3">
            <div class="col-12 col-md-6 col-lg-4">
                <a href="/"><img src="../static/images/logo_footer.png" style="width: 200px;" alt="Human Centered Design"></a>
                <div class="col  flex-1 px-0 d-block d-md-none d-lg-block">  
                    <br>
                    <a class="font-weight-light text-white h5" style="color: #707173 !important;"><b>Follow Us</b></a>   
                    <ul class="p-0 d-flex align-items-end flex-column  mt-2 mb-0" style="list-style: none;">
                        <li class="w-100">
                            <a href="https://twitter.com/hcd_IIITD" class="text-decoration-none" target="_blank">
                                <img src="../static/images/twitter_svg.svg" height="40">
                            </a>
                            <a href="https://www.facebook.com/hcdzine" class="text-decoration-none" target="_blank">
                                <img src="../static/images/facebook_hcd.svg" height="40">
                            </a>
                            <a href="https://www.linkedin.com/in/human-centered-design-hcd-43b3a7180/" class="text-decoration-none" target="_blank">
                                <img src="../static/images/linkedin_hcd.svg" height="40">
                            </a>
                        </li>
                    </ul>          
                </div>
            </div>
            <div class="col-md-6 d-none d-md-block d-lg-none">
                <a class="font-weight-light h5"><b>Follow Us</b></a>   
                    <ul class="p-0 d-flex align-items-end flex-column  mt-2 mb-0" style="list-style: none;">
                        <li class="w-100">
                            <a href="https://twitter.com/hcdiiitd" class="text-decoration-none" target="_blank">
                                <img src="../static/images/twitter_svg.svg" height="40">
                            </a>
                            <a href="https://www.facebook.com/hcdzine" class="text-decoration-none" target="_blank">
                                <img src="../static/images/facebook_hcd.svg" height="40">
                            </a>
                            <a href="https://www.linkedin.com/in/human-centered-design-hcd-43b3a7180/" class="text-decoration-none" target="_blank">
                                <img src="../static/images/linkedin_hcd.svg" height="40">
                            </a>
                        </li>
                    </ul>          
            </div>
            <div class="mt-3 mt-lg-2 col-12 col-sm-6 col-md-3 col-lg-2">
                <p class="mb-1 text-white h5 stretch">Sitemap</p>
                <div class="row">
                    <div class="col-6">
                        <ul class="p-0 mb-0" style="list-style: none;">
                            <li><a href="/#home" class="text-white">Home</a></li>
                            <li><a href="/#about" class="text-white">About Us</a></li>
                            <li><a href="/#events" class="text-white">Events</a></li>
                            <li><a href="/sponsors" class="text-white">Sponsors</a></li>
                            <li class="w-100"><a href="/contact" class="text-white">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mt-3 mt-lg-2 col-12 col-sm-6 col-md-3 col-lg-2">
                <p class="mb-1 text-white h5 stretch">Academics</p>
                <div class="row">
                    <div class="col-6">
                        <ul class="p-0 mb-0" style="list-style: none;">
                            <li><a href="/#home" class="text-white">Home</a></li>
                            <li><a href="/#about" class="text-white">About Us</a></li>
                            <li><a href="/#events" class="text-white">Events</a></li>
                            <li><a href="/sponsors" class="text-white">Sponsors</a></li>
                            <li class="w-100"><a href="/team" class="text-white">Team</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mt-3 mt-lg-2 col-12 col-sm-6 col-md-3 col-lg-2">
                <p class="mb-1 text-white h5 stretch">Facilities</p>
                <div class="row">
                    <div class="col-6">
                        <ul class="p-0 mb-0" style="list-style: none;">
                            <li><a href="/#home" class="text-white">Home</a></li>
                            <li><a href="/#about" class="text-white">About Us</a></li>
                            <li><a href="/#events" class="text-white">Events</a></li>
                            <li><a href="/sponsors" class="text-white">Sponsors</a></li>
                            <li class="w-100"><a href="/team" class="text-white">Team</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mt-3 mt-lg-2 col-12 col-sm-6 col-md-3 col-lg-2">
                <p class="mb-1 text-white h5 stretch">Events</p>
                <div class="row">
                    <div class="col-6">
                        <ul class="p-0 mb-0" style="list-style: none;">
                            <li><a href="/#home" class="text-white">Home</a></li>
                            <li><a href="/#about" class="text-white">About Us</a></li>
                            <li><a href="/#events" class="text-white">Events</a></li>
                            <li><a href="/sponsors" class="text-white">Sponsors</a></li>
                            <li class="w-100"><a href="/team" class="text-white">Team</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>