{% extends "base.html" %}
{% block content %}
<div class="container-fluid bg-dark" style="height: 70vh;">
    
</div>
<div class="container-fluid bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1 class="border-bottom">About Us</h1>
                <h4 class="mt-3" style="line-height: 1.45em;">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </h4>
            </div>
            <div class="col-12 col-md-6">
                <img src="https://pbs.twimg.com/media/ELmrxpwU8AAzzes.jpg" style="max-width: 100%;">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 mt-5 mt-md-0">
                <div onmouseout="this.classList.remove('shadow_');" onmouseover="this.classList.add('shadow_');this.style.cursor='pointer'" class="shadow w-100 h-100 bg-light p-5" style="border-style: dashed; border-color: #707070;">
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="../static/images/news.svg" style="max-width: 70px;">
                    </div>
                    <div class="row-content text-center">
                        <h4 class="mt-3">News</h4>
                        <p class="mt-1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mt-5 mt-md-0">
                <div onmouseout="this.classList.remove('shadow_');" onmouseover="this.classList.add('shadow_');this.style.cursor='pointer'" class="w-100 h-100 bg-light p-5" style="border-style: dashed; border-color: #707070;">
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="../static/images/events.svg" style="max-width: 50px;">
                    </div>
                    <div class="row-content text-center">
                        <h4 class="mt-3">Events</h4>
                        <p class="mt-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mt-5 mt-md-0">
                <div onmouseout="this.classList.remove('shadow_');" onmouseover="this.classList.add('shadow_');this.style.cursor='pointer'" class="w-100 h-100 bg-light p-5" style="border-style: dashed; border-color: #707070;">
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="../static/images/publications.svg" style="max-width: 50px;">
                    </div>
                    <div class="row-content text-center">
                        <h4 class="mt-3">Recent Publications</h4>
                        <p class="mt-1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
</script>
{% endblock %}