<div style="height: 70px;"></div>
<nav class="fixed-top" style="z-index: 998; background: black; height: 70px;">
    <div class="container mt-2">
        <div class="d-flex align-items-center justify-content-between">
            <a href="/"><img src="../static/images/logoleft.png" style="height: 40px;" alt="Indraprastha Institute Of Information Technology, Delhi"><img class="ml-2" src="../static/images/logo-white.svg" style="width: 100px;" alt="Human Centered Design"></a>
            <div class="d-flex">
                {% for option in menu_value %}
                    {% if 'Research' in option.categories  %}
                        <a href=".{{option.link}}/" class="text-pointer px-3 d-none d-md-block text-white font-12">{{option.categories}}</a>
                    {% endif %}
                    {% if 'People' in option.categories  %}
                        <a href=".{{option.link}}/" class="text-pointer px-3 d-none d-md-block text-white font-12">{{option.categories}}</a>
                    {% endif %}
                    {% if 'Academics' in option.categories  %}
                        <a href=".{{option.link}}/" class="text-pointer px-3 d-none d-md-block text-white font-12">{{option.categories}}</a>
                    {% endif %}
                {% endfor %}
            </div>
            <a class="d-md-block d-none mb-2" id="search" onmouseover="this.style.cursor='pointer'">
                <div class="d-flex rounded input" style="position: relative;">
                    <form style="margin:0px; margin-top:4px; width: 300px;" action="https://search.freefind.com/find.html" method="get" accept-charset="utf-8" target="_self">
                        <input type="hidden" name="si" value="10569528">
                        <input type="hidden" name="pid" value="r">
                        <input type="hidden" name="n" value="0">
                        <input type="hidden" name="_charset_" value="">
                        <input type="hidden" name="bcd" value="&#247;">
                        <input class="animated fadeIn faster shadow btn btn-lg btn-white bg-white rounded no-transform text-gray w-100" type="text" name="query" placeholder="Search">
                        <input class="d-none" type="submit" value="search" id="tosearch">
                    </form>
                    <img src="../static/images/search.svg" height="30px" style="margin-top: 0.8em; position: absolute; left: 10px;" alt="Search Bar">
                </div>
            </a>
            <a onclick="togglemenu('null')" class="d-md-none" onmouseover="this.style.cursor='pointer'">
                <img id="nav_menu" src="../static/images/menu.svg" height="35px" alt="Navigation Menu">
            </a>
            </ul>
        </div>
    </div>
    <div id="menu" class="animated fadeIn faster container-fluid px-5 py-2" style="position: absolute; top: 70px; overflow: scroll;background: black;">
        <div class="row">
            <div class="col-12 mt-3 d-md-none text-center bg-white rounded">
                <div class="row py-2" style="background: black;">
                    <div class="d-flex rounded input w-100" style="position: relative;">
                        <form style="margin:0px; margin-top:4px; width: 100%;" action="https://search.freefind.com/find.html" method="get" accept-charset="utf-8" target="_self">
                            <input type="hidden" name="si" value="10569528">
                            <input type="hidden" name="pid" value="r">
                            <input type="hidden" name="n" value="0">
                            <input type="hidden" name="_charset_" value="">
                            <input type="hidden" name="bcd" value="&#247;">
                            <input class="animated fadeIn faster shadow btn btn-lg btn-white bg-white no-transform text-gray w-100 rounded" type="text" name="query" placeholder="Search">
                            <input class="d-none" type="submit" value="search" id="tosearch">
                        </form>
                        <img src="../static/images/search.svg" height="30px" style="margin-top: 0.8em; position: absolute; left: 10px;" alt="Search Bar">
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-lg-3 py-1 mt-3 mt-sm-0 rounded" style="background-color: #E1E1E1;">
                <ul class="list-unstyled py-2 text-center">
                    {% for option in menu_value %}
                        <li class="mt-3"> 
                            <button onclick="location.href='.{{option.link}}/';" class="menu-option-{{option.number}} btn btn-block btn-white btn-lg text-pointer rounded">
                                {{option.categories}}
                            </button>
                        </li>
                    {% endfor %}
                </ul>
                <ul class="p-0 d-flex text-center align-items-end flex-column h-100 mt-2 mb-0" style="list-style: none;">
                    <li class="w-100">Follow Us</li>
                    <li class="w-100">
                        <a href="https://twitter.com/hcdiiitd" class="text-decoration-none" target="_blank">
                            <img src="../static/images/twitter_svg.svg" height="40">
                        </a>
                        <a href="https://www.facebook.com/hcdzine" class="text-decoration-none" target="_blank">
                            <img src="../static/images/facebook_hcd.svg" height="40">
                        </a>
                        <a href="https://www.linkedin.com/in/human-centered-design-hcd-43b3a7180/" class="text-decoration-none" target="_blank">
                            <img src="../static/images/linkedin_hcd.svg" height="40">
                        </a>
                    </li>
                </ul>      
            </div>
            <div class="col-12 col-sm-8 col-lg-9">
                <div class="bg-white w-100 h-100" style="border-radius: 12px;">
                    <div class="col-12 col-sm-4 col-lg-3">

                    </div>
                    <div class="col-12 col-sm-8 col-lg-9">

                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>