<nav class="fixed-top" style="z-index: 998; background: white; height: 60px;">
    <div class="container-fluid px-5 mt-2">
        <div class="d-flex align-items-center justify-content-between">
            <a class="font-weight-bold" style="color: #707173 !important;" href="./">
                <img src="../static/images/menu.svg" height="35px" alt="Navigation Menu">
            </a>
            <a class="searchdisabled d-none d-md-block font-weight-bold text-gray"  href="./">Academics</a>
            <a class="searchdisabled d-none d-md-block font-weight-bold text-gray"  href="./">Research</a>
            <a class="searchdisabled d-none d-md-block font-weight-bold text-gray"  href="./">People</a>
            <a id="searchdisabled" href="/">
                <img src="../static/images/logo.png" style="max-height: 50px;">
            </a>
            <input id="input" class="searchenabled btn btn-lg bg-white btn-outline-success border no-transform text-gray w-100" style="max-width: 320px;" type="text">
            <a class="searchdisabled d-none d-md-block font-weight-bold text-gray"  href="./">Events</a>
            <a class="searchdisabled d-none d-md-block font-weight-bold text-gray"  href="./">Facilities</a>
            <a class="searchdisabled d-none d-md-block font-weight-bold text-gray" href="./">Courses</a>
            <a id="search" onmouseover="this.style.cursor='pointer'">
                <img src="../static/images/search.svg" height="35px" alt="Search Bar">
            </a>
            </ul>
        </div>
    </div>
</nav>