{% extends "base.html" %}
{% block content %}
{% block meta %}
<link rel="canonical" href="https://hcd.now.sh/student-policy" />
<meta property="og:url" content="https://hcd.now.sh/student-policy" />    
<meta name="description" content="Desc for B.Tech CSD" />
<meta property="og:description" content="Desc for B.Tech CSD" />
<meta property="og:title" content="B.Tech. Courses | Human-Centered Design @ IIIT-Delhi" />
{% endblock %}
<div id="policy" class="container mb-5">
    <div class="row">
        <div class="mt-5 ml-4 order-1">
            <h4 class="font-weight-bold">Students Conduct Policy</h4>
        </div>
    </div>
    <div class="row pl-3 mt-3 pl-md-0">
        {% for option in policy_list %}
        <div class="d-flex align-items-stretch p-1 p-md-4" style="max-width: 250px;">
            <div onmouseover="this.classList.add('shadow_hover');" onmouseout="this.classList.remove('shadow_hover')" class="card mb-4">
                <div class="bd-placeholder-img card-img-top" style="max-width: 200px;"></div>
                <div class="card-body">
                    <p class="mt-2">
                        <a rel="noopener noreferrer" target="_blank" class="gara-proreg h5 text-dark no-transform-imp" href="{{option.Link}}">{{option.Desc}} <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="external-link" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="height: 10px;" class="svg-inline--fa fa-external-link fa-w-16 fa-2x"><path fill="currentColor" d="M440,256H424a8,8,0,0,0-8,8V464a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V112A16,16,0,0,1,48,96H248a8,8,0,0,0,8-8V72a8,8,0,0,0-8-8H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V264A8,8,0,0,0,440,256ZM500,0,364,.34a12,12,0,0,0-12,12v10a12,12,0,0,0,12,12L454,34l.7.71L131.51,357.86a12,12,0,0,0,0,17l5.66,5.66a12,12,0,0,0,17,0L477.29,57.34l.71.7-.34,90a12,12,0,0,0,12,12h10a12,12,0,0,0,12-12L512,12A12,12,0,0,0,500,0Z" class=""></path></svg></a>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    function handlespace(){
        let i= $('#footer').height();
        if($(window).width()>768){
            $("#policy").css('height', 'calc( 100vh - 70px - ' + i.toString()+'px )');
        }
        else{
            $("#policy").css('height', 'auto');
        }
    }
    $(window).resize(()=>{handlespace()});
    $(document).ready(()=>{handlespace()});
</script>
{% endblock %}