{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row py-3">
        <div class="mt-3 ml-2 py-3 order-1">
            <h4 class="animated flipInX font-weight-bold">Students Conduct Policy</h4>
            <div class="mt-4 ml-2">
                <p class="mt-2"><a class="text-dark" href="https://www.iiitd.ac.in/sites/default/files/docs/life/Policy%20against%20violence.pdf">· Policy against use of violence</a></p>
                <p class="mt-2"><a class="text-dark" href="https://www.iiitd.ac.in/sites/default/files/docs/life/Policy%20against%20sexual%20misconduct%20or%20harrasment.pdf">· Policy against Sexual Misconduct, Harassment, eve teasing, stalking</a></p>
                <p class="mt-2"><a class="text-dark" href="https://www.iiitd.ac.in/sites/default/files/docs/life/Message%20to%20students-%20drug%20abuse.pdf">· Alcohol and Drug abuse policy</a></p>
                <p class="mt-2"><a class="text-dark" href="https://www.iiitd.ac.in/sites/default/files/docs/life/Policy%20against%20ragging.pdf">· Policy against ragging</a></p>
                <p class="mt-2"><a class="text-dark" href="http://www.iiitd.ac.in/sites/default/files/docs/life/Policy%20of%20non%20discrimination%20and%20campus%20use.pdf">· Policy of non-discrimination and Campus Use</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}