{% extends "base.html" %}
{% block meta %}
    <title>{{pageTitle}}</title>
    <meta name="title" property="title" content="{{pageTitle}}" />
    <meta name="og:title" property="og:title" content="{{pageTitle}}" />
    <meta name="twitter:title" property="twitter:title" content="{{pageTitle}}" />
    <meta name="description" property="description" content="{{pageDescr}}" />
    <meta name="og:description" property="og:description" content="{{pageDescr}}" />
    <meta name="twitter:description" property="twitter:description" content="{{pageDescr}}" />
    <meta name="og:url" property="og:url" content="https://hcd.iiitd.ac.in/{{slug}}" />
    <meta name="twitter:url" property="twitter:url" content="https://hcd.iiitd.ac.in/{{slug}}" />
{% endblock %}
{% block content %}
<div class="container py-5 bg-white">
    <div class="d-flex flex-row">
        <h4 class="ml-md-2 mt-4 animated flipInX font-weight-bold">Research Projects</h4>
    </div>
    <div>
        <div class="row d-md-flex align-items-center align-items-stretch justify-content-center">
            {% for option in projects_list %}
            <div class="p-3 p-md-4 col-12 col-sm-6 col-md-4">
                <div onclick="window.location.href='/research-projects/{{option}}'" class="bg-light rounded w-100 h-100 text-pointer">
                    <div class="bg-white" style="height: 100px; background-size: cover; background-image: url('https://images.unsplash.com/photo-1554415707-6e8cfc93fe23?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');"></div>
                    <h5 class="ml-2 mt-3 text-gray">{{option}}</h5>
                    <p class="ml-2 mt-3 text-gray ellipis-3">{{projects_list.get(option)['Content']}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}