{% extends "base.html" %}
{% block content %}
<div class="container py-5">
    <h3 class="animated flipInX font-weight-bold">Research Publications</h3>
    <div class="row">
        <div class="mt-4 ml-3 w-100">
            {% for option in research_list %}
                <button onclick="openpublications('{{option.Year_Publication}}')" class="20{{option.Year_Publication}} text-left font-weight-bold btn btn-block rounded-0 border-0 w-100 bg-white shadow mt-3" style="font-size: 1.3em;">20{{option.Year_Publication}}</button>
                <div id="Year_20{{option.Year_Publication}}" class="listing mt-2 bg-light p-3">
                    {% for option2 in option.List %}
                        <h5 class="font-weight-bold">{{option2.Owner}}</h5>
                        <p>{{option2.Text}}</p>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    let length;
    let id= '17';
    $(document).ready(function(){
        length= $('.listing').length + 1;
        for(let i=0; i<length; i++){
            try{
                $('#Year_20'+(parseInt(id)+i).toString()).hide();
            }
            finally{
                //console.log();
            }
        }
        $('#Year_2020').show();
    });
    function openpublications(year_open){
        for(let i=0; i<length; i++){
            $('#Year_20'+(parseInt(id)+i).toString()).hide();
            $('.20'+(parseInt(id)+i).toString()).addClass('shadow-sm');
            $('.20'+(parseInt(id)+i).toString()).removeClass('shadow');
        }
        $('#Year_20'+(parseInt(year_open)).toString()).show();
        $('.20'+(parseInt(year_open)).toString()).addClass('shadow');
        $('.20'+(parseInt(year_open)).toString()).removeClass('shadow-sm');
    }
</script>
{% endblock %}