{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.carousel.min.css">
<link rel="stylesheet" type="text/css" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.theme.default.min.css">
<style>
    .active {
        -webkit-box-shadow: 0 0 3px rgba(218, 218, 218, 0.739);
        box-shadow: 0 0 3px rgba(218, 218, 218, 0.739);
    }
</style>
<div class="container py-5">
    <h3 class="animated flipInX font-weight-light">Research</h3>
    <h4 class="font-weight-bold animated flipInX">Department of Human Centered Design</h4>
    <div class="p-4 p-md-0 mt-3 owl-carousel owl-theme">
        {% for option in research_list %}
        <div class="border item bg-white text-dark p-4">
            <h4 class="font-weight-bold" style="font-size: 22px;">
                {{option.Course_Name}}
            </h4>
            <h7 class="font-weight-bold">
                {{option.Code}}
            </h7>
            <p></p>
            <h7 class="mt-1 gara-proreg" style="font-size: 18px;">
                {{option.Course_Text}}
            </h7>
        </div>
        {% endfor %}
    </div>
    <p>
        For the list of all courses offered by Department of Human-Centered Design at IIIT-Delhi <a class="text-primary" href="https://iiitd.ac.in/academics/courses/institute" target="_blank">click here</a> to check ‘DES’ code discipline courses.
    </p>
</div>

<div class="container py-5">
    <h3 class="animated flipInX font-weight-bold">Research Labs</h3>
    <div class="p-4 p-md-0 mt-3">
        {% for option in labs_list %}
        <div class="item bg-white text-dark py-4">
            <h4 class="font-weight-normal" style="font-size: 25px;">
                {{option.Lab_Name}}
            </h4>
            <h7 style="font-size: 25px;">
                {{option.Lab_Location}}
            </h7>
            <p></p>
            <h7 class="mt-1 gara-proreg" style="font-size: 25px;">
                {{option.Lab_Description}}
            </h7>
        </div>
        <hr>
        {% endfor %}
    </div>
</div>

{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function(){
        $('.owl-carousel').owlCarousel({
            items:4,
            // center: true,
            lazyLoad:true,
            loop:true,
            margin:10,
            responsive:{
                0:{
                    items: 1,
                },
                900:{
                    items:3,
                    // nav:true
                },
                1080:{
                    items:4
                }
            }
        });
    });
</script>
{% endblock %}