{% extends "base.html" %}
{% block content %}
{% block meta %}
    <title>{{pageTitle}}</title>
    <meta name="title" property="title" content="{{pageTitle}}" />
    <meta name="og:title" property="og:title" content="{{pageTitle}}" />
    <meta name="twitter:title" property="twitter:title" content="{{pageTitle}}" />
    <meta name="description" property="description" content="{{pageDescr}}" />
    <meta name="og:description" property="og:description" content="{{pageDescr}}" />
    <meta name="twitter:description" property="twitter:description" content="{{pageDescr}}" />
    <meta name="og:url" property="og:url" content="https://hcd.iiitd.ac.in/{{slug}}" />
    <meta name="twitter:url" property="twitter:url" content="https://hcd.iiitd.ac.in/{{slug}}" />
{% endblock %}
<div id="thesis" class="py-5 container-fluid">
    <div class="py-4 container">
        <div class="ml-md-2 row">
            <h4 class="animated fadeIn text-dark font-weight-bold">Coming Soon!</h4>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    function handlespace(){
        let i= $('#footer').height();
        if($(window).width()>768){
            $("#thesis").css('min-height', 'calc( 100vh - 70px - ' + i.toString()+'px )');
        }
        else{
            $("#thesis").css('min-height', 'auto');
        }
    }
    $(window).resize(()=>{handlespace()});
    $(document).ready(()=>{handlespace()});
</script>
{% endblock %}